<div>
    <footer class="footer">
        <div class="fotter_container">
            <div class="row">
                <div class="footer-coloumn">
                    <h4>India</h4>
                    <p>

                        #128, 2nd Floor ,
                        Orvint Arcade, 
                             HSR Layout,Bangalore - 560102 Karnataka,India.
                        info@orvint.com
                        +91 9019102414</p>
                </div>
                <div class="footer-coloumn1">
                    
                    <div class="footer-coloumn">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Services</a></li>

                        </ul>
                    </div>
                    <div class="footer-coloumn">
                        <ul>
                            <li><a href="">Our Product</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Careears</a></li>
                        </ul>
                    </div>


                </div>
                <div class="footer-coloumn2">
                    <h4>Get In  Touch</h4> 
                    <div class="social-links">
                        <li><a href="https://www.facebook.com/minorksTechnologies/"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/mahesh-b-s-73246a269/"><i
                                    class="fab fa-linkedin-in"></i></a></li>
                    </div>

                </div>


            </div>
        </div>

    </footer>
</div>
